/* Media Queries Sizes */
/* Phone */
$screen-xs: 480 !default;

/* Tablets */
$screen-sm: 768 !default;

/* Desktop */
$screen-md: 991 !default;

/* Wide Desktop */
$screen-lg: 1200 !default;

/* Colors */
$black: #000;
$white: #fff;
$gray-darkest: #202020;
$gray-dark: #2b2b2b;
$gray-lighten : #f5f5f5;
$blue: #3b98ff;

/* Font Weight */
$fw-bold: 700;
$fw-medium: 600;
$fw-regular: 400;
$fw-light: 300;